body {
    padding: 0px;
    margin: 0px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.page-footer {
    min-height: 100px;
    padding: 10px;
}
.dark-footer {
    background: rgb(40, 45, 54);
    color: #ffffff;
}
.dark-footer-second {
    background: rgb(34, 0, 49);
    color: #ffffff;
}
.header-wrapper {
    background: #0037af;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 5px 1px 5px #00000026;
}
.header-wrapper a {
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
}
.header-wrapper a:active {
    background: #ffffff;
    color: #0037af;
}
.product-card { 
    width: calc(100%/4);
    padding: 5px;
}
.product-card .card-inner > img {
    width: 100%;
}
.page-body {
    padding-top: 50px;
}
.card-wrapper {
    display: flex;
}
.card-wrapper {
    list-style: none;
}
.product-card .card-inner > .small-preview {
    width: 30%;
}
.card-wrapper .card-inner {
    border-radius: 5px;
    box-shadow: 0px 2px 5px #0000003d;
    box-sizing: border-box;
    padding: 10px;
}