.shop-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.shop-card-wrapper .single-card {
    width: calc(100% / 4);
    padding: 5px;
    box-sizing: border-box;
}
.shop-card-wrapper .single-card img {
    width: 100%;
}
.shop-card-wrapper .single-card .card-inner {
    padding: 5px;
    box-shadow: 2px 2px 6px #00000021;
    border-radius: 5px;
}

@media screen and (max-width: 650px){
    .shop-card-wrapper .single-card {
        width: calc(100% / 2);
    }
}