<p>shop-page works!</p>


<div class="container">
    <div class="product-area main-content-padding-area">
        <ul class="product-row">
            <li *ngFor="let prodItem of allProduct" class="product-card" > 
                <div *ngIf="prodItem" class="card-inner">
                    <a routerLink='{{ prodItem.name | linkNameFormated:prodItem.id }}' [queryParams]='{id: prodItem.id}'>
                        <img src='{{prodItem.image[0] | imageFormat:state._HOST}}' alt={{prodItem.name}}>
                        <h4>{{ prodItem.name }}</h4>
                        <h4>{{ prodItem.price | currency:'USD' }}</h4>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>