<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../public/images/icons/Graphicloads-Flat-Finance-Global.ico" />
</head>
<body>
    <header>
        <nav>
            <a href="https://www.nasa.gov/" target="blank">NASA</a>
            <a href="../index.html">Back to Home</a>
            <a href="./contacts.html">Contacts</a>
        </nav>
    </header>
    <main>
        <h1>About Page</h1>
    </main>


    <footer>
    </footer>
</body>
</html>