<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>

    <link rel="stylesheet" href="../css/main-style.css">
</head>






<body>
    <header id="main-head" class="main-head background-blue">
        <nav>
            <span class="main-logo">header</span>
            <ul>
                <li><a href="https://www.nasa.gov/" target="blank">nASA</a></li>
                <li><a href="../index.html">back to Home</a></li>
                <li><a href="./contacts.html">contacts</a></li>
                <li class="selected"><a href="./styl1-1.html" title="style">style-1</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <aside  class="main-head background-red side-bar min-block-height">
            <h3>Side Nav</h3>
        </aside>

        <section class="main-body background-green min-block-height">
            <h1>cSS Style</h1>
            <h3>main</h3>
            <article>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Velit amet assumenda explicabo sint soluta commodi molestias aliquid
                voluptatem neque dolores exercitationem corporis, sapiente dolor aut
                libero cumque! Ut, molestias suscipit.</p>
            </article>
        </section>

        <aside class="main-head background-red side-bar min-block-height">
            <h3>Side Bar</h3>
        </aside>
    </main>


    <footer class="background-blue footer">
        <h3>Footer</h3>
    </footer>
</body>
</html>