<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>
    <link rel="shortcut icon" href="../public/images/icons/Graphicloads-Flat-Finance-Global.ico" />

    <link rel="stylesheet" href="../css/main-style.css">
</head>






<body>
    <header id="main-head" class="main-head background-blue header-static-menu">
        <nav class="page-limit-container">
            <span class="main-logo">header</span>
            <div class="header-logo">
                <a href="#">
                     <img src="../public/images/icons/logo-half-white_1.png" alt="header-logo">
                </a>
            </div>
            <ul>
                <li><a href="https://www.nasa.gov/" target="blank">nASA</a></li>
                <li><a href="../index.html">back to Home</a></li>
                <li><a href="./contacts.html">contacts</a></li>
                <li class="selected"><a href="./styl1-1.html" title="style">style-1</a></li>
            </ul>
        </nav>
    </header>

    <section class="header-banner">
        <div class="branding-wrapper page-limit-container">
            <img class="main-logo" src="../public/images/icons/logo-half-white_1.png" alt="logo">

            <div class="button-group">
                <button class="main-button upper-head-near-button">Button 1</button>
                <div class="main-button upper-head-near-button">Button 2</div>
                <input class="main-button upper-head-block-bottom" type="button" value="Button 3">
            </div>
            <a href="#toAnimation">
                <div class="bouncing-group">
                    <img src="../public/images/icons/planet-earth-globe-world.png" alt="earth">
                </div>
            </a>
        </div>
    </section>

    <main>
        <div class="page-limit-container">
            <aside  class="main-head background-red side-bar uss-sidebar min-block-height">
                <h3>Side Nav</h3>
            </aside>

            <section class="main-body background-green min-block-height">
                <h1>cSS Style</h1>
                <h3>main</h3>
                <article class="column-article">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Velit amet assumenda explicabo sint soluta commodi molestias aliquid
                    voluptatem neque dolores exercitationem corporis, sapiente dolor aut
                    libero cumque! Ut, molestias suscipit.</p>
                </article>
                <div class="round-avatars">
                    <div class="round-picture-element"></div>
                    <div class="round-picture-element"><img src="../public/images/animations/1481561736waneella3.gif" rel="pic-1"></div>
                    <div class="round-picture-element"></div>
                </div>

                <div class="market-area">
                    <div class="market-item">
                        <img src="../public/images/market/d9db11953a2d185d37246bb1f500c957.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="market-item">
                        <img src="../public/images/market/headphones.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="market-item">
                        <img src="../public/images/market/d9db11953a2d185d37246bb1f500c957.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="market-item">
                        <img src="../public/images/market/purepng.com-headphoneelectronics-headset-headphone-941524670109ewmpb.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="market-item">
                        <img src="../public/images/market/unnamed.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="market-item">
                        <img src="../public/images/market/d9db11953a2d185d37246bb1f500c957.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="market-item">
                        <img src="../public/images/market/d9db11953a2d185d37246bb1f500c957.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="market-item">
                        <img src="../public/images/market/d9db11953a2d185d37246bb1f500c957.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                </div>
                <div>
                    <h2>Border radius</h2>
                    <hr>

                    <img class="border-example-pic example-pictures" src="../public/images/backgrounds/city-1.jpg" alt="pic">
                </div>
                <div>
                    <h2>Gradients  linear | radial</h2>
                    <hr>
                    <p>Linear</p>
                    <div class="gradient-box gradient-box-1"></div>
                    <p>Transparent</p>
                    <div class="gradient-box gradient-box-1-5"></div>
                    <p>Radial</p>
                    <div class="gradient-box gradient-box-2"></div>
                </div>
                <div>
                    <h2>Filter</h2>
                    <hr>
                    <img class="filter-pic example-pictures blur-style" src="../public/images/backgrounds/city-1.jpg" alt="pic">
                    <img class="filter-pic example-pictures gray-scale-style" src="../public/images/backgrounds/city-1.jpg" alt="pic">
                    <img class="filter-pic example-pictures hue-rotate" src="../public/images/backgrounds/city-1.jpg" alt="pic">
                </div>
                <div>
                    <h2>Pseudo classes / elements</h2>
                    <hr>

                    <div class="pseudo-text">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div>
                    <h2>Animation</h2>
                    <hr>

                    <div class="filter-pic example-pictures background-animation"></div>
                </div>
                <a id="toAnimation"></a>
            </section>


            <aside class="main-head background-red side-bar min-block-height">
                <h3>Side Bar</h3>

                <div class="side-market">
                    <div class="side-market-item">
                        <img src="../public/images/market/headphones.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="side-market-item">
                        <img src="../public/images/market/headphones.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="side-market-item">
                        <img src="../public/images/market/headphones.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                    <div class="side-market-item">
                        <img src="../public/images/market/headphones.png" alt="">
                        <h3>HeadPhone 1</h3>
                        <p>Short description</p>
                        <button>Buy</button>
                    </div>
                </div>
            </aside>
        </div>
    </main>


    <footer class="background-blue footer">
        <div class="page-limit-container">
            <h3>Footer</h3>
        </div>
    </footer>
</body>
</html>