


.product-body, 
.page-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.product-body {
    width: 85%;
}
.product-gallery {
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: auto auto auto;*/
} 
.product-gallery > div {
    width: calc(100% / 3);/**/
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}
.product-gallery div img {
    width: 100%;
    cursor: pointer;
}
.product-body .media-area {
    width: 35%;
}
.product-body .media-area figure > img {
    width: 100%;
}

.page-content-wrapper .side-panel {
    width: 15%;
    background: #F9F9F9;
    padding: 5px;
    box-sizing: border-box;
}
.page-content-wrapper .product-description-area {
    width: 65%;
}
.selectdPicture {
    padding: 5px;
    background: orange;
}

@media screen and (max-width: 650px){
    .product-body, 
    .page-content-wrapper .side-panel, 
    .product-body .media-area,
    .page-content-wrapper .product-description-area {
        width: 100%;

    }
}