/*@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(31, 0, 0);
    text-transform: capitalize;
    font-weight: 900;
    font-style: italic;
    line-height: 18px;
    line-break: strict;
    letter-spacing: 2px;
    overflow: auto;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
main{
    overflow: auto;
}
footer, main aside, main .min-block-height, header {
    padding-top: 5px;
}
h1, h2, h3 {
    text-align: center;
}
main p, h1, h2, h3, h4, h5, h6 {
    padding: 10px;
    padding: 5px 10px 6px 10px;
    /*margin-top: 0px;
    margin-bottom: 0px;
    margin: 10px 10px 30px 5px;*/
}
main aside{
    float: left;
}
a{
    color: red;
}
ul li{
    background:black;
    transition:  linear 1.5s;
}
ul li {
    border-right: 2px solid #08f700;
}
ul li:last-child {
    border-right: 0px;
}


ul li:hover {
    background: green;
    
}
ul li:hover a {
    color: #fff;
}



nav ul li {
    float: left;
    padding: 10px;
    text-align: center;
    list-style: none;
}

nav ul{
    margin: 0px;
}
body header nav ul li.selected{
    background-color: rgba(255, 255, 255, 0.37);
}

#main-head{
    border-bottom: 5px solid rgb(226, 192, 0);
}
#main-head .main-logo{
    float: right;
}



.background-blue {
    background: #73A0F5;
}
.background-red {
    background: rgb(250, 0, 42);
}
.background-green {
    background: #ADFE30;
}
.main-button {
    background: #000000;
    padding: 10px;
    min-width: 40px;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    border: 2px solid #FF00B3;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}
.header-static-menu{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.upper-head-near-button {
    width: 48%;
    float: left;
}
.button-group {
    max-width: 450px;
    margin: 0 auto;
}
.upper-head-block-bottom {
    display: block;
    min-width: 49%;
    margin: 0 auto;
    margin-top: 66px;
}


.page-limit-container {
    max-width: 1200px;
    margin: 0 auto;
}
.page-limit-container .header-logo {
    float: right;
    overflow: hidden;
}
.page-limit-container .header-logo img {
    width: 30px;
}

.header-banner {
    min-height: 400px;
    background-image: url(https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg);
    background-repeat: no-repeat;
    background-position: center;
   /* background-position-x: 0px;
    background-position-y: 0px;*/
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
}
.header-banner .main-logo{
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 53px;
    margin-bottom: 38px;
}



.side-bar{
    width: 20%;
}
.uss-sidebar{
    display: block;
}
.main-head{
    min-height: 5vh;
}
.footer{
    width: 100%;
    min-height: 10vh;
    /*max-height: 10vh;*/
}
.main-body{
    width: 60%;
    float: left;
}
.min-block-height{
    min-height: 100vh;
}


.column-article p{
    column-count: 3;
  }
.round-avatars .round-picture-element{
    width: 100px;
    height: 100px;
    background: #bbbbbb;
    overflow: hidden;
    border-radius: 50%;
}
.round-avatars .round-picture-element img {
    width: 181%;
}
.round-avatars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0 60px;
}

.market-area .market-item {
    width: calc(100% / 4);
    border: 1px solid;
    box-sizing: border-box;
    overflow: hidden;
}
.side-market .side-market-item {
    overflow: hidden;
}
.market-area{
    display: flex;
    flex-wrap: wrap;
}
.market-area .market-item img,
.side-market .side-market-item img {
    width: 80%;
    margin: 20px;
}
.market-area .market-item button,
.side-market .side-market-item button {
    width: 100%;
    padding: 10px;
    background: #0040FF;
    color: #ffffff;
    cursor: pointer;
}

.side-market {
    display: grid;
    grid-template-columns: 2;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.example-pictures {
    width: 80%;
    margin: 0 auto;
    display: block;
    transition: .5s cubic-bezier(0,.94,.99,.18);
}
.example-pictures:hover {
    transform: scale(1.1);
    z-index: 1;
    filter: grayscale(0);
}

.border-example-pic {
    border-top-left-radius: 10%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 40%;
}

.gradient-box {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    background: #bbb;
    margin-top: 10px;
}
.gradient-box-1 {
    background: linear-gradient(#fff, #ff9a02);
    background: linear-gradient(
        90deg,
        #ffbc14 0%,
        #2989d8 30%,
        #ff9a02 30%,
        #ff9a02 80%,
        #ff2121 100%
    );
}
.gradient-box-1-5 {
    background: linear-gradient(
        to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    #ff9a02 100%
    );
}
.gradient-box-2 {
    background: radial-gradient(
        closest-side,
        rgba(255,224,71,1) 0%,
        rgba(255,92,89,1) 40%,
        rgba(5,171,224,0) 100%);
}



.blur-style {
    filter: blur(9px);
}
.gray-scale-style {
    filter: grayscale(1);
}

.hue-rotate {
    filter: hue-rotate(180deg);
}

.pseudo-text p:first-child {
    color: rgb(0, 68, 255);
}
.pseudo-text p:last-child {
    color: red;
}
.pseudo-text p:nth-child(4) {
    color: orange;
}

.pseudo-text p:nth-child(even) {
    background: rgb(201, 201, 201);
}
.pseudo-text p:first-letter {
    color: red;
}

.pseudo-text:last-child::after {
    content: "$ after";
    color: red;
}
.pseudo-text:last-child::before {
    content: "i am before";
    color: rgb(161, 0, 175);
}


.background-animation {
    height: 300px;
    background-image: url(../public/images/backgrounds/city-1.jpg);
    background-position-x: 0px;

    background-size: 100%;
    animation:  background-move 5s 1s linear infinite;
}

@keyframes background-move {
    0% { background-position-x: 0px; }
    50% { background-position-x: 150px; transform: rotateY(0deg)}
    100% { background-position-x: 100px; background-position-y: 100px; transform: rotateY(180deg)}
}


.bouncing-group {
    height: 250px;
}
.bouncing-group img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: block;
    margin-top: 20px;
    position: relative;
    margin-top: 0px;
    animation: bouncing-earth 3s ease-in-out infinite;
}

@keyframes bouncing-earth {
    0% { margin-top: 0px; transform: rotateZ(0deg);}
    30% { height: 100px; }
    45% { margin-top: 150px; height: 50px; }
    50% { margin-top: 150px; height: 60px; }
    100% { margin-top: 0px; transform: rotateZ(360deg); }
}


@media screen and (min-width: 1200px) {
    .background-green {
        background: rgb(188, 0, 226);
    }
    .market-area .market-item {
        width: calc(100% / 5);
    }
}
@media screen and (max-width: 650px) {
    ul li {
        width:100%;
        border-right: 0px;
        background: #bbb;
    }
    .background-green {
        background: aqua;
    }
    .uss-sidebar{
        display: none;
    }
    .main-body {
        width: 100%;
        float: none;
    }
    .side-bar {
        width: 100%;
    }
    .market-area .market-item {
        width: calc(100% / 2);
    }
    .side-market {
        grid-template-columns: auto;
    }
}