<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{info.title}}</title>
    <link rel="stylesheet" href="./hbs.css">
</head>
<body>
    {{> header}}
    {{{body}}}
    {{#if info.pagename}}
    {{> footer}}
    {{else}}
    {{> secFooter}}
    {{/if}}

</body>
</html>